@use "sass:color";
@use "functions" as *;
@use "variables" as *;

/* ========================= */
/* Общая секция */

.section {
  position: relative;
  max-width: $bp-xl;
  margin: 0 auto;
  margin-bottom: $space-5;
  padding: $space-4 1rem;

  background: color-mix(in srgb, $bg 25%, transparent);
  backdrop-filter: blur(8px);
  border-radius: $radius-xl;
}
