<app-abstract-bg></app-abstract-bg>
<h1>This is home-page {{ title }}</h1>

<section id="auth" class="section">
  <app-auth-status></app-auth-status>
</section>

<section id="add" class="section">
  <app-add-document></app-add-document>
</section>

<section id="abstract-viewer" class="section">
  <app-abstract-viewer></app-abstract-viewer>
</section>
<section id="test-2" class="section">test-2</section>
<section id="test-3" class="section">test-3</section>
<svg class="abstract-bg" width="100%" height="100%">
  <script>
    const Math = window.Math;
    const window = window;
  </script>
</svg>
